<figure class="image-details-wrapper">
	{% image image %}
	<figcaption class="image-details">
		{% include 'image_meta/image_meta' with image %}
		<button class="show-details"><div class="icon">※</div></button>
	</figcaption>
</figure>