---
layout: base/base.liquid
---

<h1 >{{ title }}</h1>
<article class="post-recipe">
	<div class="recipe-sidebar">
		{% if image %}
			{% image image, 'recipe-image fade frame' %}

		{% endif %}
		{% if ingredients %}
			<h2>Ingredients:</h2>
			{% for type in ingredients %}
				<h3>{{ type.type}}</h3>
				<ul>
				{% for item in type.items %}
					<li>{{ item }}</li>
				{% endfor %}
				</ul>
			{% endfor %}
		{% endif %}
	</div>
	<div class="recipe-content">
		

		{{ content }}
	</div>

</article>