---
layout: base.liquid
title: Stories from Vermont
description: These are stories from Vermont Some of them are true.
song: here-and-heaven.mp3
---
<section class="home-hero">
	<h1>These are stories from Vermont.</h1>
	<h2>Some of them are true.</h2>
	<a>Stay Updated ▼</a>&nbsp;&nbsp;&nbsp;<a href="/posts/welcome/">About ▶</a>
</section>
<section class="home-recent">

{% assign post = collections.posts | sort: 'date' | reverse | first %}
{% assign template = 'tease_' | append: post.data.type %}
{% include template with post %}

</section>
<hr>
<section class="home-widgets">
	<div class="widget-song">
		<h4>we're listening to:</h4>
		{% if song %}
			{% include 'audio-player' with song %}
		{% endif %}
	</div>

	<div class="widget-weather">
		<h4>it feels like:</h4>
		<div class="weather">
			
		</div>
	</div>

</section>