---
layout: base/base.liquid
title: Stories from Vermont
description: These are stories from Vermont Some of them are true.
styles: '<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>'
scripts: '<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>'
---

<article class="gallery">

<div class="gallery-swiper">
	<button class="close">꟯<span class="hidden">close gallery</button>
	<div class="swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
      {% for year in photos_by_date %}
        {% for month in year.months %}
          {% for day in month.days %}
            {% for photo in day.photos %}
            {% assign image = photo.path %}
              <div class="swiper-slide">
                {% include 'gallery_image/gallery_image'  %}
              </div>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
		</div>
		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>

  {% assign index = 1 %}
  {% assign thumbs = "200,300" | split: ',' %}
  
  <div class="photos-by-date">
    {% for year in photos_by_date %}
    <div id="date-{{year.year}}" class="label-year">{{ year.year }}</div>
    {% for month in year.months %}
      {% for day in month.days %}
      <div class="day">
        <div id="date-{{year.year}}-{{month.id}}" class="label-month-day">{{ month.name }}, {{ day.date }}</div>
        <div class="photo-grid">
          {% for photo in day.photos %}
            <button class="gallery-thumb" data-gallery="" data-index="{{index}}">
              {% image photo.path, null, null, thumbs %}
            </button>
            {% assign index = index | plus: 1 %}
          {% endfor %}
        </div>
      </div>
        
    
      {% endfor %}
    {% endfor %}
  {% endfor %}
  </div>


</article>
<script>
  console.log({{ photos_by_date|json}})
</script>