<footer id="footer" class="footer">
	<hr>
	<div class="layout-grid">
		<div class="footer-content">
			<div>
				<p>Stories from Vermont<br>
				Written by A • Edited by C</p>
			</div>
			<div>
				<p>Want a notification when we post something new?</p>
				<form action="" name="subscribe" class="mini-form" data-state="subscribe">
					<label class="mini-input">
						<div class="label">email</div>
						<input id="email" name="email" type="email" placeholder="name@domain.com" required>
					</label>
					<button id="message-button" type="button">
						<div class="arrow">»</div>
						<div class="opening-message">Subscribe</div>
						<div class="closing-message">Thank You</div>
					</button>
				</form>
			</div>
		</div>
	</div>
</footer>