<figure class="image-details-wrapper">
	{% galleryImage image %}
	<figcaption class="image-details">
		{% include 'image-meta' with image %}
		<button class="show-details"><div class="icon">※</div></button>
	</figcaption>
</figure>