<figure class="image-details-wrapper {{ classes }}">
	{% image image.file, image.alt, 'image-details-image' %}

	<figcaption class="image-details">
		<ul class="image-meta">
			{% for meta in image.meta %}
				<li>
					<div class="name">
						{{meta.name|downcase}}
					</div>
					<div class="value">
						{{meta.value}}
					</div>
				</li>
			{% endfor %}
		</ul>
		<button class="show-details"><div class="icon">※</div></button>

	</figcaption>
</figure>