<nav class="menu layout-grid">
	<div class="menu-wrapper">
		<a class="site-link" href="/">
			<div>stories from</div>
			{% include 'vermont_logo'  %}
		</a>
		<ul class="site-nav">
			<li><a href="/posts">Posts</a></li>
			<li><a href="/photos">Photos</a></li>
			<li><a href="/recipes">Recipes</a></li>
		</ul>
	</div>
</nav>