<a class="site-link" href="/">

	<?xml version="1.0" encoding="utf-8"?>
	<!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 77 70" style="enable-background:new 0 0 77 70;" xml:space="preserve">
	<style type="text/css">
		.st0{fill:var(--color-green);}
		.st1{fill:var(--color-gold);}
		.st2{fill:var(--color-blush);}
		.st3{fill:var(--color-blue);}
	</style>
	<path class="st0" d="M44.59,52.75c-1.66-2.61-3.7-4.94-4.77-7.92c-0.14-0.52-0.74-1.05-1.2-0.48c-2.62,5.26-7.23,10.01-8.4,15.78
		c0.79,2.21,1.54,6.35,4.16,6.8c4.44,0.25,8.6,1.14,12.88-1.29C51.3,60.15,46.98,57.82,44.59,52.75z"/>
	<path class="st1" d="M73.59,2.7c-5.65,0.44-11.79,0.05-17.3,1.15c-4.32,4.96-5.89,11.79-7.71,18c-8.2,20.65-11.66,14.42,0.5,33.91
		c0.4,0.73,1.4,2.26,2.1,0.96c0.98-2.56,2.35-4.93,3.45-7.41c5.77-15.67,13.59-30.41,19.47-46C73.92,3.08,73.78,2.73,73.59,2.7z"/>
	<path class="st0" d="M32.02,50.9c1.79-3.66,5.92-7.53,4.96-11.83C32.1,30,26.07,21.61,21.64,12.27C16.2,5.18,20.06,1.55,9.72,3.08
		C7.92,4,0.53,1.52,3.68,5.3c5.54,12.28,11.79,24.29,17.47,36.56c1.97,4.89,4.45,9.54,6.74,14.28C29.09,57.31,31.29,51.82,32.02,50.9
		z"/>
	<path class="st2" d="M26.64,16.09c3.58,7.12,7.58,14.27,12,20.86c3.65-3.03,3.9-9.55,6.5-13.66c0.41-0.62,0.32-1.23-0.06-1.85
		c-2.09-3.95-5.02-7.57-6.58-11.7c-3.2-7.08-3.25-6.93-10.94-6.75c0,0.04,0,0.07,0,0.11c-1.77,0.41-6.9-1.13-7.33,0.86
		C21.49,8.38,24.52,12.05,26.64,16.09z"/>
	<path class="st3" d="M39.27,5.81c2.37,3.97,3.97,9.08,7.66,11.91c1.6-3.4,1.84-7.49,4.1-10.64c0.43-0.94,2.12-2.5,0.88-3.37
		C48.03,2.91,43.94,3.5,40,3.25C38.25,3.06,38.63,4.78,39.27,5.81z"/>
	</svg>
</a>