.tease-post {
	@include sm-and-up {
		display: flex;

		gap: var(--space-md);
	}
}
.tease-post-image {
	background: var(--color-ui-dark);
	border-radius: var(--border-radius);

	@include sm-and-up {
		width: 40%;
		flex-shrink: 0;
	}
}
.tease-post-content {
	align-self: center;
	margin-top: var(--space-md);
}
.post-link {
	font-variant: small-caps;
	font-size: 1.2em;
	.icon {
		font-weight: 400;
	}
}
