.tease-post {
	display: flex;
	gap: var(--space-md);
}
.tease-post-image {
	background: var(--color-ui-dark);
	border-radius: var(--border-radius);
	width: 40%;
	flex-shrink: 0;

	img {
		height: 100%;
		object-fit: cover;
		opacity: 0.7;
		filter: brightness(1.5);
		mix-blend-mode: lighten;
	}
}
.tease-post-content {
	margin-top: var(--space-md);
}
.post-link {
	font-variant: small-caps;
	font-size: 1.2em;
	.icon {
		font-weight: 400;
	}
}
