.weather {
	display: grid;
	line-height: 1.2;
	grid-template-areas: 'icon temp' 'icon description';
	grid-template-columns: 3.5rem 1fr;
	column-gap: 0.5rem;
	align-items: center;
	min-height: 5rem;
	.current-color {
		fill: var(--color-text);
	}
	.icon {
		align-self: start;
		grid-area: icon;
		margin: -0.25rem;
	}
	.temp {
		grid-area: temp;
		font-size: 2rem;
	}
	.description {
		font-size: 0.9rem;
		grid-area: description;
	}
}
