a.site-link {
	font-variant: small-caps;
	font-weight: 800;
	width: 12rem;
	display: block;
	color: var(--color-text);
	svg {
		width: 100%;
		height: auto;
	}
}
.menu-wrapper {
	@include sm-and-up {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	//padding: var(--space-sm);
}
.menu {
	margin-top: var(--space-md);
	margin-bottom: var(--space-md);
}
.site-nav {
	display: flex;
	gap: var(--space-sm);
}
