img {
	width: 100%;
	height: auto;
	display: block;
}
.frame {
	position: relative;
	display: block;
	font-display: block;

	&:before,
	&:after {
		pointer-events: none;
		color: var(--color-ui-medium);
		font-size: 3rem;
		content: 'L';
		position: absolute;
		z-index: 1;
	}
	&:before {
		top: -0.6em;
		left: -0.3em;
		transform: rotate(90deg);
	}
	&:after {
		bottom: -0.6em;
		right: -0.3em;
		transform: rotate(270deg);
	}
}
