.post-date {
	font-size: 1.2rem;
}
.post-header {
	position: relative;

	.spacer {
		display: none;
		@include sm-and-up {
			display: block;
		}
		font-weight: normal;
		text-rendering: optimizeLegibility;
		position: absolute;
		left: -3rem;
		top: -6rem;
		writing-mode: vertical-lr;
		color: var(--color-accent);
	}
}
.post-image {
	img {
		max-height: 40vh;
		min-height: 16rem;
		object-fit: cover;
	}
	margin-bottom: var(--space-md);
}

.recipe {
	.recipe-sidebar {
		@include sm-and-up {
			width: 35%;
			flex-shrink: 0;
		}
	}
	@include sm-and-up {
		display: flex;
		gap: var(--space-lg);
	}
	.recipe-image {
		margin-bottom: var(--space-md);
	}
}

.gallery {
	@include md-and-up {
		display: flex;
		text-align: right;
		gap: var(--space-lg);
	}
}
.gallery-description {
	@include md-and-up {
		width: 35%;
	}
}
.gallery-grid {
	@include md-and-up {
		width: 65%;
	}
	display: grid;
	grid-gap: var(--space-sm);
	grid-template-columns: repeat(auto-fill, minmax(8rem, 2fr));
	justify-items: end;
	> * {
		flex-shrink: 0;
	}
}
