.tease-post {
	@include sm-and-up {
		display: flex;

		gap: var(--space-md);
	}
}
.tease-post-image {
	background: var(--color-ui-dark);
	border-radius: var(--border-radius);

	@include sm-and-up {
		width: 40%;
		flex-shrink: 0;
	}
}
.tease-post-content {
	align-self: center;
	margin-top: var(--space-md);
}
.post-link {
	font-variant: small-caps;
	font-size: 1.2em;
	.icon {
		font-weight: 400;
	}
}

a.tease-gallery {
	position: relative;
	display: block;
	color: var(--color-ui-light);
	&:hover {
		color: #fff;
	}
	.tease-gallery-content {
		border-radius: var(--border-radius);
		overflow: hidden;
		position: relative;
		z-index: 1;
		padding: 8vw var(--space-md);
		background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.2) 100%);
	}

	.tease-gallery-image {
		border-radius: var(--border-radius);
		overflow: hidden;

		//opacity: 0.5;
		display: block;
		@extend %absolute-fill;
		object-fit: cover;
		img {
		}
	}
}
