---
layout: base.liquid
---
<article class="post">
{% if image %}
	{% include 'image-details' with image, classes:'post-image frame fade' %}
{% endif %}

	<header class="post-header alignnarrow">
		{% if image %}
			<div class="spacer"><span class="light">●●●●</span>○○○○○○○○○○○○○○○○○○○○○○</div>
		{% endif %}
		<h1>{{ title }}</h1>
		<h2 class="post-date smallcaps">{{ date | date: "%A, %B %d, %Y" | downcase}}</h2>
	
		{% if song %}
			{% include 'audio-player' with song %}
		{% endif %}
	</header>
	<section class="content alignnarrow">
		{{ content }}
	</section>
	

</article>