@use '../../src/base/functions.scss' as *;

.post-date {
	font-size: 1.2rem;
}
.post-header {
	position: relative;

	.spacer {
		display: none;
		@include sm-and-up {
			display: block;
		}
		font-weight: normal;
		text-rendering: optimizeLegibility;
		position: absolute;
		left: -3rem;
		top: -6rem;
		writing-mode: vertical-lr;
		color: var(--color-accent);
	}
}
.post-image {
	img {
		max-height: 40vh;
		min-height: 16rem;
		object-fit: cover;
	}
	margin-bottom: var(--space-md);
}

.post-recipe {
	.recipe-sidebar {
		@include sm-and-up {
			width: 35%;
			flex-shrink: 0;
		}
	}
	@include sm-and-up {
		display: flex;
		gap: var(--space-lg);
	}
	.recipe-image {
		margin-bottom: var(--space-md);
	}
}
