@media print {
	html {
		font: 10pt Georgia, 'Times New Roman', Times, serif;
		line-height: 1.3;
		margin: 0;
	}
	picture {
		display: none;
	}
	h1,
	h2,
	h3,
	h4,
	h4,
	h6,
	p,
	ul {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
	.alignwide {
		display: flex;
	}
}
